<section>
  <div class="container">
    <div class="d-flex justify-content-between">
      <span class="d-flex justify-content-center align-items-center">
        <span
          class="d-flex justify-content-center align-items-center ms-2"
        >
          <i class="fa-solid fa-arrow-right fa-sm"></i>
        </span>
        تذكرة رقم #2342
      </span>

      <span class="d-flex justify-content-center align-items-center">
        <span class="ms-1">
          <i class="fa-regular fa-pen-to-square"></i>
        </span>
        تعديل
      </span>
    </div>
  </div>
</section>


