div {
  span:nth-child(1) {
    font-weight: 500;

    span {
      display: inline-block;
      $bg-arr-size: 2rem;
      background-color: #e7eaed;
      width: $bg-arr-size;
      height: $bg-arr-size;
      border-radius: 0.5rem;
    }
  }

  span:nth-child(2) {
    background-color: #f9f9f9;
    width: 4.875rem;
    height: 2.125rem;
    border: #e9eaea solid 1px;
    border-radius: 0.25rem;
    span {
      color: #8a74f9;
    }
  }
}
