.chart{
  // width: 52.4375rem;
  height: 16.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 0.807px solid #EBEBEB;
  background: #FFF;


  select{
    width: fit-content;
height: 30.279px;
flex-shrink: 0;
color: #1C1C28;
background-color: #E8E8E8;


font-size: 12.112px;


line-height: 140%; /* 16.956px */
  }
}


@media screen and (max-width: 375px) {
  select{
    display: none;
  }
}
