.chart {
  height: 16.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 0.807px solid #ebebeb;
  background: #fff;

  select {
    width: fit-content;
    height: 30.279px;
    flex-shrink: 0;
    color: #1c1c28;
    background-color: #e8e8e8;

    font-size: 12.112px;

    line-height: 140%;
  }
}

@media screen and (max-width: 375px) {
  select {
    display: none;
  }
}
